<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info">

  <variable name="logDir" value="${basedir}/logs"/>

  <targets>
    <target name="logfile" xsi:type="File"
            fileName="${logDir}/log.log"
            archiveFileName="${logDir}/log-{#}.log"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="200"
            layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message}${onexception:${newline}${exception:format=tostring}}"/>
    <target name="console" xsi:type="Console"
            layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message}"/>
  </targets>

  <rules>
    <logger name="Microsoft.*" minlevel="Information" writeTo="console" final="true"/>
    <logger name="System.*" minlevel="Information" writeTo="console" final="true"/>
    <logger name="*" minlevel="Debug" writeTo="logfile,console"/>
  </rules>
</nlog>
